.review-list-container{
    background: #F5F5F5;
    margin: 0 2rem;
    border-radius: 5px;
    padding: 2rem 3rem;
    font-size: 1.5rem;
}



.review-list-result-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
    row-gap: 2rem;

    @media only screen and (max-width: 72rem){
        grid-template-columns: 1fr;
    }

}
.filter-list{
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: bold;
    flex-wrap: wrap;
}

.review-list-category-box{
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 2rem 0;
    
}

.review-list-category{
   display: flex;
   
}



.review-list-category{
    display: flex;
    justify-content: space-between;

}

.review-list-result{
    border-top: 2px solid #E4E3DD;
    margin: 4rem 0 1rem 0;
    padding-top: 2rem;
    text-align: justify;
}


.review-result-list-container{
background: #f0f0f0;
border-radius: 7px;
padding: 1rem;
margin: 2rem auto;
align-content: center;
display: flex;
flex-direction: column;
justify-content: center;
align-items: space-evenly;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    flex-basis: auto;   
    background: #fff;
    
}

.pd3{
    padding: 1rem 4rem;
}

.mb-3{
    margin-bottom: 2rem;
}

#bg-none{
    background: none;
}

.br-5{
    border-radius: 5px;
}

#align-center{
    display: flex;
    align-items: center;
    justify-content: center;
}


.user-review{
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-basis: 100%;
    padding: 2rem 1rem;
    margin: 1rem 0 0;
    border-radius: 5px;
    font-style: italic;
    text-align: center;

}

