.review-result-container{
    width: 75%;
    margin: 4rem auto;
    font-family: 'Montserrat', sans-serif;

}

.result-name{
    font-size: 3rem;
    font-weight: 600;
}

.result-description{
    font-size: 1.7rem;
}

.review-btn{
    background: #CA8831;
    color: white;
    padding: 1rem;
    border-radius: 4px;
    font-size: 1.7  rem;

    &:hover, &:active{
        background: #fff ;
        color: #CA8831;
        border: 1px solid #CA8831;

    }
}

.star-rating-box{
    margin: 1rem 0;
    margin-bottom: 2rem;
}

.review-image{
    width: 100%;
    height: 100%;
   

    &-container{
        width: 15rem;
        height: 15rem;
        background: #f3f3f3;
        margin-right: 3rem;
        border-radius: 10px;
        overflow: hidden;


    }
}

.review-person-box{
    display:    flex;
    height: 100%;

}

.review-bar{
    background: #CA8831;
    color: white;
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin: 2rem 0;
    text-transform: uppercase;
}

.would-take-again{
    display: flex;
    align-items: center;

    &-per{
        font-weight: bold;
        font-size: 3rem;
        margin-right: 1rem;
    }
}

.diff-level{
    display: flex;
    align-items: center;
    justify-content: space-between  ;
    background: #f3f3f3;
    padding: 1rem 2rem;

    &-text{
        font-weight: bolder;
        margin-right: 1rem;
    }

    &-selected{
        text-transform: uppercase;
        display: flex;

    }
}

.text-medium{
    font-weight: bold;
    margin-right: 1rem;
}

.overall-s-r-b{
    display: flex;
    margin: 1rem 0;
    margin-bottom: 2rem;
}

.diff-level-selected-item{
    padding: 1rem ;
    font-size: 1.2rem;
    font-weight: bold;
    background: #fff;
    margin-right: .5rem;
    display: flex;
}

.level-box{
    display: flex;
    align-items: center;
}

.rating-distribution-header{
    text-align: center;
}

.review-category-box{
    display: flex;
    margin-bottom: 1rem;

}

.rating-category{
    background: #f3f3f3;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1.5rem 2rem;
    width: 65%;
    gap: 3rem;

    &-item{
        display: flex;
        align-items: center;

        &-text{
            
            font-size: 1.5rem;
            font-weight: 600;
            margin-right: auto;

            
        }
    }
}

.rating-distribution{
    background: #f3f3f3;
    width: 34%;

    &-header{
        margin: 1rem 0;
    }

}


.distribution-progress{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 3fr 1fr;
    margin: 1.3rem 0;

    &-text{
        font-weight: 600;
        

    }

    &__percentage{
        font-weight: 600;

    }
}




