


.red{

    &:active, &:hover{
        background: #EF261F;
        color: white;
    }
}

.orange{

    &:active, &:hover{
        background: #F5621D;
        color: white;
    }
}

.yellow{

    &:active, &:hover{
        background: #F3D71E;
        color: white;
    }
}

.lemon{

    &:active, &:hover{
        background: #A4F629;
        color: white;
    }
}

.green{

    &:active, &:hover, &:focus{
        background: #43C51D;
        color: white;
    }
}


.button{
    border-radius: 2px;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: capitalize;
    padding: 1rem 3rem;
    color: #747474;
    background: #f3f3f3;
    border: none; 
    margin: 1rem;
    cursor: pointer;
    transition: background .1s ease-in;


}

.form-group{
    display: flex;

    
}

.rating-heading{
    font-size: 1.8rem;
    font-weight: 400;
    margin-right: 2rem;
}


.form-radio{
    &__input{
        display: none;
        background: red;
        width: 4rem;
    }

    &__group{
        margin: 2.3rem 0;
    }

}

.form-radio__input:checked ~ .red{
    background: #EF261F;
    color: white;
}

.form-radio__input:checked ~ .orange{
    background: #F5621D;
    color: white;
}

.form-radio__input:checked ~ .yellow{
    background: #F3D71E;
    color: white;
}

.form-radio__input:checked ~ .lemon{
    background: #A4F629;
    color: white;
}

.form-radio__input:checked ~ .green{
    background: #43C51D;
    color: white;
}


