.forget-password{
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    text-align: center;

    @media only screen and (max-width: 48rem){
        flex-direction: column;


    }
}

.b-r{
    border-right: 1.7px solid #767676;
    @media only screen and (max-width: 48rem){
        border: none;


    }
}

.flex-1{
    display: flex;
    flex: 1;
    padding: .5rem 2rem;
}

.mt{
    margin-top: 3rem;
}

.sign-up-link{
    padding-left: 1.2rem;
}

.sign-up-link:link, .sign-up-link:visited {

    color: #CA8831 ;


}

.sign-up-link:hover,  .sign-up-link:active  {

    color: grey ;


}

.error {
    color: red;
    font-size: 10px;
  }
  
  .inputError {
    border-color: red;
  }

.no-account{
    display: flex;

    @media only screen and (max-width: 24rem){
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}