.sign-in-and-sign-up{
    height: 76vh;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-container{
    margin: 3rem;
    display: flex;
}

.button-box{
    display: flex;
    
}


.button-toggle{
    background: #FAFAFA;
    border: 0.3px solid  #dbdbdb;
    box-sizing: border-box;
    color:#767676   ;
    flex: 1;
    justify-content: center;
    text-align: center  ;
    padding: 2rem;
    cursor: pointer;

}


.input-group{
    width: 100%;
  
}


