body {
  margin: 0;
  font-family: 'Roboto', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  font-size: 16px;
}


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 64.5%;


  @media only screen and (max-width: 43rem) {
    font-size: 55%;
  }

  @media only screen and (max-width: 24rem) {
    font-size: 45%;
  }

  @media only screen and (max-width: 20rem) {
    font-size: 40%;
  }




}


a {
  text-decoration: none;
}


.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

$color-primary: #CA8831;

h2 {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 4rem;
}

.suggestion-list {
  color: darkgray;

}

.suggestion-list:active {
  color: #CA8831;
  font-weight: 400;
  letter-spacing: 2px;

}


.suggestion-list:hover {
  color: #333;
  font-weight: bold;

}