.sign-in-and-sign-up{
    height: 100vh;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin:  -1rem  auto 6rem auto;


    @media only screen and (max-width: 50rem){
        height: 110vh;
        width: 100%;
    }
}

.sign-container{
    margin: 3rem;
    display: flex;
}

.button-box{
    display: flex;
    
}


.button-toggle{
    background: #FAFAFA;
    border: 0.3px solid  #dbdbdb;
    box-sizing: border-box;
    color:#767676   ;
    flex: 1;
    justify-content: center;
    text-align: center  ;
    padding: 2rem;
    cursor: pointer;

}

.button-toggle.active{
    background: #FFFFFF;
    color: #CA8831;
    border: none;
}

.input-group{
    width: 100%;
    display: block  ;
}


