$color-primary: #CA8831;

.showcase{
    background: white;
    color: $color-primary;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 5% 0;
    height: 40vh;

   

    &-title{
        font-size: 6rem;
    }
    &-subtitle{
        font-size: 2rem;
        letter-spacing: 1;
        font-weight: lighter;
        margin-bottom: 2rem;
    }
}



.search-icon{
    margin-left: -5rem;
    width: 3rem;
    position: absolute;
    top: 35%;
    right: 17%;
    
    
}

.form-search{
    width: 60%;
   position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search:focus ~ .search-icon{
    display: none;
}
